html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

img {
  vertical-align: baseline;
}

:focus {
  @include outline;
}

.book-toc-content nav ul li {
  margin: 0.75rem 0;
}

.book-search ul li {
  margin: 0.75rem 0;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0 0;
    position: relative;
  }

  a {
    display: block;
  }

  ul {
    padding-inline-start: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-icon {
  filter: var(--icon-filter);
}

.book-brand {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: $padding-8;
  }
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;

  .book-menu-content {
    width: $menu-width;
    padding: $padding-16;
    background: var(--body-background);

    @include fixed;
  }

  .menu-tags-title {
    margin-bottom: 0.25rem;
  }

  .menu-tag-item {
    padding: 0.5rem 0rem;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;

    .tag-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.5em;
    }
  }
  .menu-tag-item:hover {
    opacity: 0.5;
  }

  a,
  label {
    color: inherit;
    cursor: pointer;
    word-wrap: break-word;
  }

  a.active {
    color: var(--color-link);
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }

  input.toggle + label::after {
    content: "▸";
  }

  input.toggle:checked + label::after {
    content: "▾";
  }
}

.book-section-flat {
  margin: $padding-16 * 2 0;

  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 0;
  }
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-16;
}

.book-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }

  img.book-icon {
    height: 1.5em;
    width: 1.5em;
  }
}

.list-item:hover {
  background-color: var(--gray-100);
}

.menu-shortcut-link:hover {
  opacity: 0.5;
}
.menu-shortcut-link {
  font-weight: 600;
}

.frontpage-list-title {
  margin-bottom: 0.5rem;
}

.list-item {
  box-sizing: border-box;
  margin: 0px -0.5rem;
  min-width: 0px;
  padding: 0.75rem 0.5rem;
  border-radius: 0.3rem;
  transition: all 150ms ease-in-out 0s;
  justify-content: space-between;
  overflow: hidden;
  display: block; // only do this if the width is low

  .list-item-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--body-font-color);
    margin-top: 0;
    margin-bottom: 0.3rem;
  }

  .list-item-metadata {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;

    .list-item-tags {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }

      .list-item-updated-at {
          box-sizing: border-box;
          margin: 0 0 0 0.5rem;
          font-size: 0.7rem;
          color: var(--theme-ui-colors-text,hsl(210,17%,85%));
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          h3 {
            margin-top: 0;
          }
        }
  }
}

.list-item-tag {
  box-sizing: border-box;
  margin: 0px 0.25rem 0px 0px;
  min-width: 0px;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  line-height: 1; // Fixes off-center caused by global line-height
  background-color: #999999;
  border-radius: 5px;
  color: #222222 !important; //TODO: Hack
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: 400;
  font-size: 0.7rem;
}

.toc-tags {
  margin-bottom: 1.25rem;
}

.toc-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.markdown .post-date {
  margin-top: -0.25rem;
}

.book-search {
  position: relative;
  margin: $padding-16 0;
  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: $padding-8;

    border: 0;
    border-radius: $border-radius;

    background: var(--gray-100);
    color: var(--body-font-color);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;
    margin: $padding-8;
    margin-inline-start: calc(100% - #{$padding-16 + $padding-8});

    width: $padding-16;
    height: $padding-16;

    border: $padding-1 solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    @include spin(1s);
  }

  small {
    opacity: 0.5;
  }
}

.book-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;

  .book-toc-content {
    width: $toc-width;
    padding: $padding-16;

    @include fixed;
  }

  img {
    height: 1em;
    width: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

.book-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    width: 1em;
    margin-inline-end: $padding-8;
  }
}

// Responsive styles
.book-menu-content,
.book-toc-content,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  #menu-control,
  #toc-control {
    display: inline;
  }

  .book-menu {
    visibility: hidden;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
    }

    .book-menu .book-menu-content {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  #toc-control:checked ~ main {
    .book-header aside {
      display: block;
    }
  }

  //for RTL support
  body[dir="rtl"] #menu-control:checked ~ main {
    .book-menu .book-menu-content {
      transform: translateX(-$menu-width);
    }
  }
}

.backlinks {
    margin-bottom: 1rem;

    .backlink-item {
        border-radius: .5rem;
        background-color: var(--backlinks-background);
        padding: 0.5rem;
        margin-bottom: 0.25rem;

        .backlink-link {
            font-weight: 600;
        }

        .backlink-preview {
            font-size: $font-size-12;
        }
    }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16 * 2 $padding-16;
  }

  .list-item {
    display: flex;
  }
}
