#graph-wrapper {
  background: inherit; // blend with background
  height: auto;

  .links line {
    stroke: #ccc;
    stroke-width: 1;
    opacity: 0.5;
  }

  .nodes circle {
    cursor: pointer;
    fill: #FAFAFA;
  }

  .labels text {
    cursor: pointer;
    text-anchor: middle;
    alignment-baseline: central;
    font-size: 0.9rem;
    fill: #FAFAFA;
  }

  .nodes [active], .labels [active] {
    cursor: pointer;
    fill: #ffe57f;
  }
}
