<!-- Obtain all backlinks. Looks within the page's raw content -->
{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

<!-- Generate the HTML -->
{{- if gt (len $backlinks) 0 -}}
<div class="backlinks">
<p class="toc-title">Mentioned In</p>
{{- range $backlinks -}}
  {{ partial "component/preview" . }}
{{- end -}}
</div>
{{- end -}}

