<!-- Obtain all backlinks. Looks for raw references -->
{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

<!-- Generate the HTML -->
{{- if gt (len $backlinks) 0 -}}
<p class="toc-title">Mentioned In</p>
<div class="backlinks">
    {{- range $backlinks -}}
    <div class="backlink-item">
        <a class="backlink-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <br>
        <span class="backlink-preview">{{ .Summary | truncate 90 }}</span>
    </div>
   {{- end -}}
</div>
{{- end -}}

