<article class="book-post">
  <a class="list-item" href="{{ .RelPermalink }}">
    <h3 class="list-item-title">{{ .Title }}</h3>
    <div class="list-item-metadata">
      <div class="list-item-tags">
        {{ range $taxonomy, $_ := .Site.Taxonomies }}
          {{ range $n, $term := $.GetTerms $taxonomy }}
            {{ partial "docs/tag-badge.html" $term.Title }}
          {{- end }}
        {{ end }}
      </div>
      {{ with .Date }}
        <h3 class="list-item-created-at">{{ partial "util/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) }}</h3>
      {{ end }}
    </div>
  </a>
</article>
