<nav>
    {{ partial "component/brand" . }}
    {{ partial "component/search" . }}

    {{ if (gt (where .Site.RegularPages "Section" "blog" | len) 0) }}
    <p><a class="menu-shortcut-link" href="{{ "/blog" | relURL }}">Blog Posts</a></p>-->
    {{ end }}
    {{ if (gt (where .Site.RegularPages "Section" "notes" | len) 0) }}
    <p><a class="menu-shortcut-link" href="{{ "/notes" | relURL }}">Recent Notes</a></p>
    {{ end }}
    <p class="menu-tags-title"><b>Tags</b></p>
    <ul>
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
        <li>{{ partial "component/tag-badge-dot" $name }}</li>
        {{ end }}
    </ul>
</nav>

