.item-preview {
    border-radius: .5rem;
    background-color: var(--backlinks-background);
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: .75rem;

    .item-preview-title {
        font-weight: 600;
        color: var(--color-link);
    }

    .item-preview-content {
        font-size: $font-size-12;
        color: var(--body-font-color);
    }
}

.item-preview:hover {
  opacity: 0.6;
}
