@import "external/hover.scss";
@import "theme-override.scss";

.invert-text {
  unicode-bidi: bidi-override;
  direction: rtl
}

.social-links {
  text-align: center;
}

.social-links a img {
  height: 1.75em;
  margin: 0 0.75rem;

  // Change SVG fill to white.
  filter: brightness(0) invert(1);
}


// Add top-bottom accent color.
html {
  height: 100%;

  body {
    min-height: 100%;
    border-top: 4px solid #ffe57f;
    border-bottom: 4px solid #ffe57f;
  }
}
