@import "theme-override.scss";

.backlinks {
    padding: 0.001em 1.5rem 0.001rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--backlinks-background);

    ul li {
        font-size: 0.9em;
    }
}
