body {
  // Gray
  background-color: #38474f;
}

.book-brand {
  font-family: sans-serif;
  font-weight: bold;
}

.book-section-flat>a, .book-section-flat>span {
  font-size: 1.15em;
}

.markdown a:visited {
  color: $color-link;
}
