<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
{{ partialCached "search" . }}
<body>
    <main>
        {{- partial "side-bar.html" . -}}

        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>

        {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
        <aside class="book-toc">
            {{ .TableOfContents }}
        </aside>
        {{ end }}
    </main>
      <!-- Make it better... -->
  
    {{- partial "footer.html" . -}}
</body>

</html>
