<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "html-head" . }}
</head>
<body dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="menu">
      <div class="menu-content">
        {{ partial "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="page">
      <header class="page-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ template "main" . }} <!-- Page Content -->

      <footer class="page-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
      </footer>

      <label for="menu-control" class="hidden menu-overlay"></label>
    </div>

    {{ if (and .File (default true (default .Site.Params.ToC .Params.ToC))) }}
    <aside class="toc">
      <div class="toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>
</body>
</html>

{{ define "header" }}
  {{ partial "header" . }}

  {{ if default true (default .Site.Params.ToC .Params.ToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "toc" . }}
{{ end }}
