name: Build & Deploy
on:
  push:
    branches:
      - master

env:
  HUGO_VERSION: 0.85.0
  EMACS_VERSION: 27.1

jobs:
  gh-pages-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - name: Install emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ env.EMACS_VERSION }}

      # Files under static/ox-hugo are automatic and should be published but not version controlled (they are a copy).
      - name: Force ox-hugo publish
        run: rm static/.gitignore

      - name: Build
        run: make deploy

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
