name: Build
on:
  pull_request:
    branches:
      - master

env:
  HUGO_VERSION: 0.85.0
  EMACS_VERSION: 27.1

jobs:
  build_page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - name: Install emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ env.EMACS_VERSION }}

      - name: Build
        run: make build

